/* style.css */
body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-header {
    font-weight: 600;
}

h1 {
    font-weight: 700;
}

#salesTable tr td {
    font-size: 0.9rem;
}

canvas {
    width: 100% !important;
    height: 400px !important;
}